.DS_Store
*.class
*.war
*.ear
.idea/
*.iml
target/
test-output/
*~
*.classpath
*.project
*.settings
.DS_Store
.rvmrc
.ruby-version
.ruby-gemset
*.pyc
.vagrant
*.swp
logs/
**/application-local.properties
**/application-local.yml
**/logback-local.xml
**/.springBeans
/build.log
/git.log
**/jmeter.log
**/.externalToolBuilders
**/db.properties
**/dev-test/
**/config-local.properties
**/logback-local.xml
**/devices-*.txt
**/bin/
**/smart-*.conf
.eclipse-pmd
.factorypath
*.versionsBackup
dashboard/storeFiles
.scannerwork/**

