.DS_Store
*.class
*.war
*.ear
.idea/
*.iml
target/
*~
*.classpath
*.project
*.settings
.rvmrc
.ruby-version
.ruby-gemset
*.pyc
.vagrant
*.swp
logs/
**/.springBeans
*.log
**/.externalToolBuilders
**/db.properties
**/bin/
.eclipse-pmd
.factorypath
*.versionsBackup
